.top-players, .blogs{
    display: grid;
    grid-gap: 30px;
    margin: 20px;
    place-items: center;
}
.blogs{
    grid-template-columns: repeat(2,1fr);
}

.top-players{
    grid-template-columns: repeat(3, 1fr);
}


.player img{
    height: 50px;
    margin-right: 20px;
}
.player, .blog{
    display: flex;
    align-items: center;
}
main{
    width: 900px;
    max-width: 90%;
    margin: 0% auto;
}
.thumbnail img{
    width: 200px;
    margin-right: 20px;

}
*{
    margin: 0;
    padding: 0;
}
@media (max-width:992px){
    .top-players{
        grid-template-columns: repeat(2,1fr);
    }
    .blogs{
        grid-template-columns: repeat(1,1fr);
    }
}
@media (max-width:668px){
    .top-players{
        grid-template-columns: repeat(1,1fr);
        grid-template-columns: repeat(1,1fr);
    }
    .blog{
        display: block;
    }
}