.top-players, .blogs{
    display: grid;
    grid-gap: 30px;
    margin: 20px;
}
.blogs{
    grid-template-columns: repeat(2, 1fr);
}
.top-players{
    grid-template-columns: repeat(3, 1fr);
}
.player img{
    height: 50px;
    margin-right: 20px;

}
.player, .blogs{
    display: flex;
    align-items: center;
}
main{
    width: 1200px;
    max-width: 90%;
    margin: 0% auto;
}
*{
    margin: 0;
    padding: 0;
}
@media (max-width:992px){
    .top-players{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width:668px){
    .top-players{
        grid-template-columns: repeat(1,1fr);
    }
}